In [1]:
# Model a red light as a conditional

# if the light is green, proceed with caution
# if the light is red, come to a full and complete stop
# if the light is yellow, it depends
# if you have room to stop safely, then stop
# if you're almost through the light, then continue

light_color = "yellow"
you_can_stop_safely = False

if light_color == "green":
    print("Proceed with caution")
elif light_color == "yellow":
    if you_can_stop_safely:
        print("Come to a full and complete stop.")
    else:
        print("Proceed through the intersection")
elif light_color == "red":
    print("Come to a full and complete stop")
else:
    print("Consult your physician.")

Proceed through the intersection

In [2]:
# For loop example
for i in range(1, 5):
    print(i)

1
2
3
4

In [3]:
1 in range(1, 5)

True

In [4]:
"an" in "banana"

True

In [5]:
"George" in ["George", "John", "Paul", "Ringo"]

True

In [6]:
# "Maggie" in ["Maggie", "Zach", "Faith", "Ryan"]

In [7]:
for instructor in ["Maggie", "Zach", "Faith", "Ryan"]:
    print(instructor)

Maggie
Zach
Faith
Ryan

For loops are great for numbers, sequences, and iterating collections like lists

In [8]:
# Scenario
total = 0

# add an iced tea
total = total + 1.99
print(f"Total after purchasing the tea is {total}")

# add some spring rolls
total = total + 5.99
print(f"Total after adding on the spring rolls is {total}")

# add a stir fry entre
total = total + 7.99
print(f"Total after adding the entre is {total}")

total

Total after purchasing the tea is 1.99
Total after adding on the spring rolls is 7.98
Total after adding the entre is 15.97

15.97

In [9]:
i = 0

In [10]:
i = i + 1
i

1

In [11]:
# newvalue = oldvalue + 1
i = i + 1
i

2

In [12]:
# += is shorthand for i = i + 1
# += is shorthand for variable = variable + 1
i += 1
i

3

In [13]:
i = 0
while i <= 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10

In [14]:
# Skip 5 and 7
for i in range(1, 11):
    if i == 5 or i == 7:
        continue
    else:
        print(i)

1
2
3
4
6
8
9
10

In [15]:
for n in range(10):
    if n % 2 == 0:
        continue
    print('Here is an odd number: {}'.format(n))

Here is an odd number: 1
Here is an odd number: 3
Here is an odd number: 5
Here is an odd number: 7
Here is an odd number: 9

In [16]:
for n in range(10):
    if n % 2 != 0:
        print('Here is an odd number: {}'.format(n))

Here is an odd number: 1
Here is an odd number: 3
Here is an odd number: 5
Here is an odd number: 7
Here is an odd number: 9

In [17]:
dataset = [{'name': 'age', 'type': 'int', 'data': [20, 25, 43, 11, 15, 53, 36]},
           {'name': 'is_vegetarian', 'type': 'boolean', 'data': [False, True, False, False, True, False, False]},
           {'name': 'shoe size', 'type': 'int', 'data': [8, 11, 7, 10, 7, 9, 10]},
           {'name': 'ISP', 'type': 'categorical', 'data': ['AT&T', 'Spectrum', 'Spectrum', 'Spectrum', 'AT&T', 'Spectrum', 'AT&T']},
           {'name': 'BMI', 'type': 'float', 'data': [29.9, 20.4, 23.3, 21.7, 22.2, 22.8, 27.0]}]
dataset

[{'name': 'age', 'type': 'int', 'data': [20, 25, 43, 11, 15, 53, 36]},
 {'name': 'is_vegetarian',
  'type': 'boolean',
  'data': [False, True, False, False, True, False, False]},
 {'name': 'shoe size', 'type': 'int', 'data': [8, 11, 7, 10, 7, 9, 10]},
 {'name': 'ISP',
  'type': 'categorical',
  'data': ['AT&T',
   'Spectrum',
   'Spectrum',
   'Spectrum',
   'AT&T',
   'Spectrum',
   'AT&T']},
 {'name': 'BMI',
  'type': 'float',
  'data': [29.9, 20.4, 23.3, 21.7, 22.2, 22.8, 27.0]}]

In [18]:
# print the averages for the numeric data
feature = dataset[0]
feature

{'name': 'age', 'type': 'int', 'data': [20, 25, 43, 11, 15, 53, 36]}

In [19]:
# Access a value from its key
# dictionary_variable["key_name"] will point to the value at that key
feature["data"]

[20, 25, 43, 11, 15, 53, 36]

In [20]:
average = sum(feature["data"]) / len(feature["data"])
f"The average age is {average}"

'The average age is 29.0'

In [21]:
if feature["type"] == "categorical" or feature["type"] == "boolean":
    print(f"The {feature['name']} feature is not a numberic type, it is a {feature['type']}")
else:
    average = sum(feature["data"]) / len(feature["data"])
    print(f"The average {feature['name']} is {average}")

The average age is 29.0

In [22]:
for feature in dataset:
    if feature["type"] == "categorical" or feature["type"] == "boolean":
        print(f"The {feature['name']} feature is not a numberic type, it is a {feature['type']}")
    else:
        average = sum(feature["data"]) / len(feature["data"])
        print(f"The average {feature['name']} is {average}")

The average age is 29.0
The is_vegetarian feature is not a numberic type, it is a boolean
The average shoe size is 8.857142857142858
The ISP feature is not a numberic type, it is a categorical
The average BMI is 23.900000000000002