In [2]:
# Formatted String
number = 1

# Put the letter f in front of the string quotes
# Then curly braces around the variable
string = f"My favorite number is {number}. My favorite number plus one is {number + 1}"
string

'My favorite number is 1. My favorite number plus one is 2'

In [3]:
# How to use ipython/jupyter's code suggestions (list of possible functions)
# Start with variable assignment
name = "Jane"

In [ ]:
# Add a period after the variable
# Then click TAB on your keyboard
# This shows a list of methods available on that data type
name.

In [4]:
# To see how a function works, type the variable
# then type a period, find the function, and follow it with a question mark
name.count?

In [5]:
name.count("a")

1

In [6]:
name.count("Z")

0

In [7]:
numbers = [1, 2, 3]

In [8]:
# Append alters the original list
numbers.append(5)

In [9]:
numbers

[1, 2, 3, 5]

In [10]:
numbers.append(7)

In [11]:
numbers

[1, 2, 3, 5, 7]

In [12]:
# List Comprehension is a way to operate on a list
# Add one to ever number in a list
[n + 1 for n in numbers]

[2, 3, 4, 6, 8]

In [13]:
[n * 10 for n in range(1, 11)]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [14]:
# list comprehension syntax
# ["operation on a single value" for "single_value" in "collection"]
# ["operation on a single value" for "single_value" in "collection" if "conditional"]
[n * 10 for n in range(1, 11) if n == 5]

[50]

In [15]:
# If we only have an IF, the if goes after the collection we're iterating
[n * 10 for n in range(1, 11) if n % 2 == 0]

[20, 40, 60, 80, 100]

In [24]:
# if/else goes before the "for n in"
[n * 10 if n % 2 == 0 else n for n in range(1, 11)]

[1, 20, 3, 40, 5, 60, 7, 80, 9, 100]

In [21]:
# Let's write a list comprehension where we output a list that start at 1, end at 100
# but any multiple of 5 gets multiplied by 5 
# all other numbers should return themselves
# we'll need range(1, 101)
# n % 5 == 0
# n for n in range...
# when stuck or any friction, search engine "How to ABC with XYZ in Python"
[n*5 if n % 5 == 0 else n for n in range(1, 101)]

[1,
 2,
 3,
 4,
 25,
 6,
 7,
 8,
 9,
 50,
 11,
 12,
 13,
 14,
 75,
 16,
 17,
 18,
 19,
 100,
 21,
 22,
 23,
 24,
 125,
 26,
 27,
 28,
 29,
 150,
 31,
 32,
 33,
 34,
 175,
 36,
 37,
 38,
 39,
 200,
 41,
 42,
 43,
 44,
 225,
 46,
 47,
 48,
 49,
 250,
 51,
 52,
 53,
 54,
 275,
 56,
 57,
 58,
 59,
 300,
 61,
 62,
 63,
 64,
 325,
 66,
 67,
 68,
 69,
 350,
 71,
 72,
 73,
 74,
 375,
 76,
 77,
 78,
 79,
 400,
 81,
 82,
 83,
 84,
 425,
 86,
 87,
 88,
 89,
 450,
 91,
 92,
 93,
 94,
 475,
 96,
 97,
 98,
 99,
 500]

In [29]:
a = [1, 2, 3, 4, 5]
a[-1]

5

In [32]:
# slicing syntax is a colon
# [start:end]
# [start_index:end_index up to but not including]
# a[0:4] starts at 0 goes up to index 4 (which is value #5) but not including
a[0:4]

[1, 2, 3, 4]

In [33]:
"banana"[2:4]

'na'

In [34]:
# [start:] means go to the end
"banana"[2:]

'nana'

In [35]:
# [:ending] means start at the start
"banana"[:4]

'bana'

In [37]:
"banana"[:-1]

'banan'

In [ ]:
framing_thought = "In what way does this apply to data science"

ryan_perspective = "data types, data type methods are your hand-tools for working with data"

In [39]:
# tuple is a non-changeable list done w/ parens
a = (1, 2, 3)
type(a)

tuple

In [41]:
# unpacking the tuple
b, c, d = a
print(b)
print(c)
print(d)

1
2
3

In [51]:
def train_validate_test_split():
    train = 1
    validate = 2
    test = 3
    return (train, validate, test)

In [52]:
# unpacking the tuple from the return statement
train, validate, test = train_validate_test_split()

In [53]:
print(train)
print(validate)
print(test)

1
2
3

In [ ]:
# list is an ordered list of values
# Dictionaries are labeled list

In [58]:
# dictaries are lists of labeled values
computer = {
    "memory": "8GB",
    "hard_drive": "256GB",
    "price": 700,
    "make": "Lenovo",
    "OS": "Windows 10 Home",
    "installed_softare": ["Microsoft Office Home Pro 365 Max", "Bloatware", "Spyware"]
}

In [59]:
# accessing key => value paris
computer["memory"]

'8GB'

In [60]:
death_star = {
    "name": "Death Star", 
    "model": "DS-1 Orbital Battle Station", 
    "manufacturer": "Imperial Department of Military Research, Sienar Fleet Systems", 
    "cost_in_credits": "1000000000000", 
    "length": "120000", 
    "max_atmosphering_speed": "n/a", 
    "crew": "342,953", 
    "passengers": "843,342", 
    "cargo_capacity": "1000000000000", 
    "consumables": "3 years", 
    "hyperdrive_rating": "4.0", 
    "MGLT": "10", 
    "starship_class": "Deep Space Mobile Battlestation", 
    "pilots": [], 
    "films": [
        "http://swapi.dev/api/films/1/"
    ], 
    "created": "2014-12-10T16:36:50.509000Z", 
    "edited": "2014-12-20T21:26:24.783000Z", 
    "url": "http://swapi.dev/api/starships/9/"
}

In [61]:
death_star["manufacturer"]

'Imperial Department of Military Research, Sienar Fleet Systems'

In [62]:
# reassign a dictionary's value at a key
death_star["crew"] = death_star["crew"].replace(",", "")

In [63]:
death_star["crew"]

'342953'

In [64]:
death_star["crew"] = int(death_star["crew"])

In [65]:
death_star

{'name': 'Death Star',
 'model': 'DS-1 Orbital Battle Station',
 'manufacturer': 'Imperial Department of Military Research, Sienar Fleet Systems',
 'cost_in_credits': '1000000000000',
 'length': '120000',
 'max_atmosphering_speed': 'n/a',
 'crew': 342953,
 'passengers': '843,342',
 'cargo_capacity': '1000000000000',
 'consumables': '3 years',
 'hyperdrive_rating': '4.0',
 'MGLT': '10',
 'starship_class': 'Deep Space Mobile Battlestation',
 'pilots': [],
 'films': ['http://swapi.dev/api/films/1/'],
 'created': '2014-12-10T16:36:50.509000Z',
 'edited': '2014-12-20T21:26:24.783000Z',
 'url': 'http://swapi.dev/api/starships/9/'}

In [66]:
# data type problem
death_star["passengers"] + 1

TypeError: can only concatenate str (not "int") to str

In [67]:
death_star["passengers"]

'843,342'

In [68]:
# Shows that you can do the work, but we're not reassinging
death_star["passengers"].replace(",", "")

'843342'

In [69]:
death_star["passengers"] = int(death_star["passengers"].replace(",", ""))

In [70]:
death_star

{'name': 'Death Star',
 'model': 'DS-1 Orbital Battle Station',
 'manufacturer': 'Imperial Department of Military Research, Sienar Fleet Systems',
 'cost_in_credits': '1000000000000',
 'length': '120000',
 'max_atmosphering_speed': 'n/a',
 'crew': 342953,
 'passengers': 843342,
 'cargo_capacity': '1000000000000',
 'consumables': '3 years',
 'hyperdrive_rating': '4.0',
 'MGLT': '10',
 'starship_class': 'Deep Space Mobile Battlestation',
 'pilots': [],
 'films': ['http://swapi.dev/api/films/1/'],
 'created': '2014-12-10T16:36:50.509000Z',
 'edited': '2014-12-20T21:26:24.783000Z',
 'url': 'http://swapi.dev/api/starships/9/'}

In [71]:
death_star["passengers"] = death_star["passengers"] + 25

In [72]:
death_star

{'name': 'Death Star',
 'model': 'DS-1 Orbital Battle Station',
 'manufacturer': 'Imperial Department of Military Research, Sienar Fleet Systems',
 'cost_in_credits': '1000000000000',
 'length': '120000',
 'max_atmosphering_speed': 'n/a',
 'crew': 342953,
 'passengers': 843367,
 'cargo_capacity': '1000000000000',
 'consumables': '3 years',
 'hyperdrive_rating': '4.0',
 'MGLT': '10',
 'starship_class': 'Deep Space Mobile Battlestation',
 'pilots': [],
 'films': ['http://swapi.dev/api/films/1/'],
 'created': '2014-12-10T16:36:50.509000Z',
 'edited': '2014-12-20T21:26:24.783000Z',
 'url': 'http://swapi.dev/api/starships/9/'}

In [73]:
death_star["nickname"] = "That's no moon"

In [75]:
death_star

{'name': 'Death Star',
 'model': 'DS-1 Orbital Battle Station',
 'manufacturer': 'Imperial Department of Military Research, Sienar Fleet Systems',
 'cost_in_credits': '1000000000000',
 'length': '120000',
 'max_atmosphering_speed': 'n/a',
 'crew': 342953,
 'passengers': 843367,
 'cargo_capacity': '1000000000000',
 'consumables': '3 years',
 'hyperdrive_rating': '4.0',
 'MGLT': '10',
 'starship_class': 'Deep Space Mobile Battlestation',
 'pilots': [],
 'films': ['http://swapi.dev/api/films/1/'],
 'created': '2014-12-10T16:36:50.509000Z',
 'edited': '2014-12-20T21:26:24.783000Z',
 'url': 'http://swapi.dev/api/starships/9/',
 'nickname': "That's no moon"}